* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    position:relative;
}

table {
    width: 300px;
    text-align: center;

    position: relative;
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
}