div {
    width: 103px;
    height: 32px;
    float: left;
    margin: 10px;
    background: yellow url(../img/01.png);

}

.box1 {
    background-position: -205px -111px;
}

.box2 {
    background-position: -205px -74px;
}

.box3 {
    background-position: -205px -37px;
}
